[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  command = "npm run dev"
  port = 5173
  functionsPort = 8888

[functions]
  included_files = ["netlify/functions/getDailyWord/drawableWords.json"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
